@import url(./_about/header__logo_about.css);
.header__logo {
    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        padding-bottom: 18px;
    }
}
@media screen and (max-width: 420px) {
    .header__logo {
        padding-bottom: 16px;
        font-size: 16px;
    }
}
