@import url(./__title/search-block__title.css);
@import url(./__description/search-block__description.css);
.search-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}
@media screen and (max-width: 768px) {
    .search-block {
        padding: 40px 25% 48px 25%;
    }
}
@media screen and (max-width: 320px) {
    .search-block {
        padding: 30px 16px 32px 16px;
    }
}