.technologies__caption {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .2px;
    color: #1a1b22;
    margin-bottom: 23px;
}