.footer__list-element {
    margin-right: 40px;
    padding: 0;
}
.footer__list-element:last-child {
    margin-right: 0;
}

@media screen and (max-width: 820px) {
    .footer__list-element {
        margin-right: 25px;
    }
}
@media screen and (max-width: 660px) {
    .footer__list-element {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .footer__list-element:last-child {
        margin-bottom: 0;
    }
}