.history__text-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
    padding: 0 104px 0 104px;
}

@media screen and (max-width: 768px) {
    .history__text-block {
        padding: 0 40px 0 40px;
    }
}
@media screen and (max-width: 425px) {
    .history__text-block {
        padding: 0 16px 0 16px;
    }
}