@import url(./_active/header__link_active.css);
@import url(./_about/header__link_about.css);
.header__link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #b6bcbf;

}
@media screen and (max-width: 420px) {
    .header__link {
        font-size: 16px;
    }
}
