.search-block__title {
    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #fff;
    text-align: left;
    max-width: 608px;
    margin-bottom: 32px;
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    .search-block__title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 16px;
    }
}