.about__title {
    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .about__title {
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width: 420px) {
    .about__title {
        margin-bottom: 16px;
    }
}