.search-field__input {
    max-height: 64px;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 21px;
    max-width: 608px;
    width: 100%;
    color: #1A1B22;

}
.search-field__input::placeholder {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}
.search-field__input:focus {
    outline: none;
}
@media screen and (max-width: 768px) {
    .search-field__input {
        padding: 17px;
    }
}
@media screen and (max-width: 420px) {
    .search-field__input {
        margin-bottom: 16px;
    }
}
