@import url(./__input/search-field__input.css);
@import url(./__button/search-field__button.css);
.search-field {
    position: relative;
    max-width: 608px;
    width: 100%;
}

@media  screen and (max-width: 320px) {
    .search-field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: inherit;
    }
}
