.results__link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    text-decoration: none;
    text-align: center;
    align-self: center;
}
.results__link:after {
    content: url("../../../images/arrow.svg");
    padding-left: 10px;
}
@media screen and (max-width: 425px) {
    .results__link {
        text-align: left;
    }
}
@media screen and (max-width: 320px) {
    .results__link {
        align-self: start;
    }
}