@import url(./__text/section-preloader__text.css);
.section-preloader {
    background-color: #f5f6f7;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    opacity: 0.6;
}