.search-field__button {
    background: #2F71E5;
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    padding: 18px 53px 18px 54px;
    position: absolute;
    border: 1px solid transparent;
    top: 0;
    right:0;
    cursor: url("../../../images/Pointer.svg"), pointer;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    transition: background .3s linear;

}
.search-field__button:focus {
    outline: none;
    background: #2a65cc;
}
.search-field__button:active {
    background: #2a65cc;
}
.search-field__button:hover {
    background: #347eff;
    transition: background .3s linear;
}
@media screen and (max-width: 768px) {
    .search-field__button {
        padding: 15px 50px 15px 50px;
    }
}
@media screen and (max-width: 420px) {
    .search-field__button {
        position: inherit;
    }
}
