@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__list/header__list.css);
@import url(./__element/header__element.css);
@import url(./__link/header__link.css);
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
    background: rgba(196, 196, 196, 0.01);
    margin: auto;
    max-width: 1440px;
    padding: 30px 101px 0 104px;

}
@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
        padding: 22px 42px 0 40px;
    }
}
@media screen and (max-width: 420px) {
    .header {
        padding: 16px 14px 0 16px;
    }
}