.footer__icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 660px) {
    .footer__icons {
        position: absolute;
        top: 22px;
        right: 18px;
    }
}