.card__source {
    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 0;
}